---
import Header from "../components/Header"
---
<Header />
<slot />
<!-- <BlogCard 
    posts = "Latest Posts"
    href = "/AIpage",
  title = "Is Your Job Being Threatened By AI?"
  date = "October 1, 2025",
  readTime = "Estimated Read 10min",
  description = "As the rise in AI usage advances many devopleres are worried about the replacement of jobs in the tech industry",
  tag = "#AI",/>
    <BlogCard 
    posts = ""
    href = "/designSystems",
  title = "Design Systems: How To Keep Your UI Consistent",
  date = "October 2, 2025",
  readTime = "Estimated Read 9min",
  description = "As the rise in AI usage advances many devopleres are worried about the replacement of jobs in the tech industry",
  tag = "#AI",/> -->
    <!-- <h1>{blog}</h1>
    <article>
        <h2>Is Your Job Being Threatened By AI?</h2>
    </article> -->