---
import Header from "../components/Header";
import Footer from "../components/Footer";

const { title = "BlogBuster" } = Astro.props;
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/blog-pencil.svg" />
    <title>{title}</title>
    <style is:global>
      html, body { background-color: #b7b7a4; margin: 0; padding: 0; }
    </style>
  </head>
  <body style="font-family: system-ui, sans-serif; color: #293241">
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
